@use 'base/mixins' as m;
@use 'base/variables' as v;

.header{
    padding: 5rem 0;
    min-height: 60rem;
    
    background-image: url(../img/grafico.svg),url(../img/grafico.svg), linear-gradient(to right,rgba(pink, .2), rgba(v.$negro, .3)), image-set(url(../img/header.avif) 1x, url(../img/header.webp) 1x, url(../img/header.jpg) 1x);
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
    &__contenedor{
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
  
 
    }
    &__nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include m.tablet{
            justify-content: flex-end;
        }
    }
    
    &__enlace{
        color: v.$blanco;
        transition: color .2s ease-in-out;
       
        margin: 0 1rem;
        &:hover{
            color: v.$azul;
        }
    
    }

    &__logo{
        margin: 2rem 0;
        color: v.$blanco;
        font-size: 8rem;
        text-transform: uppercase;
 
        @include m.telefono{
            font-size: 10rem;
        }
        @include m.tablet{
            font-size: 12rem;
        }
        @include m.desktop{
            font-size: 14rem;
        }
        span{
            display: block;
            color: v.$blanco;
        }
        span:first-child{
            color: v.$azul;
          display: inline;
        
        }
      

    }

    &__footer{
        padding: 0 2rem;
        display: flex;
        background-color: rgba(0, 0, 0, 0.213);
        align-items: center;
        .header__texto{
            color: v.$morado;
            font-weight: 800;
            &:first-child{
                margin-right: 1rem;
                font-size: 2rem;
            }
            &--modalidad{
                font-weight: 500;
                color: v.$blanco;
            }
        }
       
       
    }
}