@use 'base/mixins' as m;
@use 'base/variables' as v;

.header{
    padding: 3rem 0;
    min-height: 45rem;
    
    background-image: url(../img/grafico.svg),url(../img/grafico.svg), linear-gradient(to right,rgba(pink, .2), rgba(v.$negro, .5)), image-set(url(../img/header.avif) 1x, url(../img/header.webp) 1x, url(../img/header.jpg) 1x);
    background-repeat: no-repeat;
    background-size: 500px, 500px, cover, cover;
    background-position:top left, bottom right, center center;


    &__contenedor{
        @include m.contenedor-lg;
  
 
    }
    &__nav{
        display: flex;
        flex-direction: row;
        margin-bottom: 6rem;
        align-items: center;
        justify-content: center;
        @include m.tablet{
            justify-content: flex-end;
        }
    }
    
    &__enlace{
        color: v.$blanco;
        transition: color .2s ease-in-out;
       
        margin: 0 1rem;
        &:hover{
            color: v.$azul;
        }
    
    }

    &__logo{
        margin: 2rem 0 6rem 0;
        color: v.$blanco;
        font-size: 7rem;
        text-transform: uppercase;
 
        @include m.telefono{
            font-size: 10rem;
        }
        @include m.tablet{
            font-size: 12rem;
        }
        @include m.desktop{
            font-size: 14rem;
        }
        span{
            display: block;
            color: v.$blanco;
        }
        span:first-child{
            color: v.$azul;
          display: inline;
        
        }
      

    }

    &__footer{
        padding: 2rem 2rem;
        display: flex;
        background-color: rgba(0, 0, 0, 0.42);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
        }
        .header__texto{
            color: v.$morado;
            font-weight: 800;
            &:first-child{
                font-size: 1.8rem;
                margin-top: 0;
                @include m.tablet{
                    font-size: 2.3rem;
                }
             
            }
            &--modalidad{
                font-weight: 500;
                color: v.$blanco;
                margin-bottom: 3rem;
                @include m.tablet{
                    margin: 0;

                }
            }
            text-align: center;
            @include m.tablet{
                text-align: left
            }
        }
       
        .header__accion{
           a{
            @include m.botonBorde(v.$morado,v.$morado,v.$blanco);
            font-size: 1.6rem;
            @include m.tablet{
                font-size: 2rem;
                
            }
           }
        }
    }
}