@use 'base/variables' as v;
@use 'base/mixins' as m;

.auth{
    @include m.contenedor-sm();

    .mensaje{
        &__logo{
            font-size: 6rem;
            color: v.$grisOscuro;
            text-align: center;
            margin: 2rem 0;
        }
        &__acciones{
           align-items: center;
           justify-content: center;
           @include m.botonBorde(v.$morado,v.$morado,v.$grisOscuro);
           width: fit-content;
           margin: 3rem auto;
           a:hover{
            color: v.$blanco;
           }
          
        }
    }
}

