@use 'base/variables' as v;
@use 'base/mixins' as m;

.auth{
    @include m.contenedor-sm();

    .mensaje{
        &__logo{
            @include m.textoFluido(3rem,6rem);
            color: v.$grisOscuro;
            text-align: center;
            margin: 2rem 0;
        }
        &__enlace:hover{
            color: v.$blanco;
        }
       
    }
}

