@use 'base/mixins' as m;
@use 'base/variables' as v;
.listado-ponentes{
    
    @include m.reset-lista;
    @include m.grid(1,1);
    &__ponente{
        color: v.$azul;
        border-left: 5px solid v.$azul;
        padding: 1rem;
        text-align: center;
        &:hover{
            cursor: pointer;
         
        }
        &:last-of-type{
            margin-top: 1rem;
        }
        &--seleccionado{
            @extend .listado-ponentes__ponente;
       
                background-color: v.$azul;
                color: v.$blanco;
            
        }
    }

}